<mat-card class="form_wrapper" >
    <mat-card-title class="title">Login Users</mat-card-title>
    <div class="example-container">
      <form  [formGroup]="loginForm" (submit)="submitForm()">
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="loginForm.controls['email']"
             >
          <mat-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched"> Email is Required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" [formControl]="loginForm.controls['password']"
             >
          <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Password is
            Required
          </mat-error>
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" [disabled]="">Login</button>
      </form>
    </div>
  </mat-card>
